<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRol</servlet-name>
        <servlet-class>controlador.ControladorRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsRol</servlet-name>
        <servlet-class>controlador.ControladorUsRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCategoria</servlet-name>
        <servlet-class>controlador.ControladorCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPlantilla</servlet-name>
        <servlet-class>controlador.ControladorPlantilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>controlador.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorGoogle</servlet-name>
        <servlet-class>controlador.ControladorGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPlantillaCampo</servlet-name>
        <servlet-class>controlador.ControladorPlantillaCampo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPlantillaPaso</servlet-name>
        <servlet-class>controlador.ControladorPlantillaPaso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPlantillaRol</servlet-name>
        <servlet-class>controlador.ControladorPlantillaRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPasoCampoComportamiento</servlet-name>
        <servlet-class>controlador.ControladorPasoCampoComportamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCampoComportamiento</servlet-name>
        <servlet-class>controlador.ControladorCampoComportamiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCampoComportamientoup</servlet-name>
        <servlet-class>controlador.ControladorCampoComportamientoup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProceso</servlet-name>
        <servlet-class>controlador.ControladorProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPlantilla2</servlet-name>
        <servlet-class>controlador.ControladorPlantilla2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProcesoCampo</servlet-name>
        <servlet-class>controlador.ControladorProcesoCampo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProcesoPaso</servlet-name>
        <servlet-class>controlador.ControladorProcesoPaso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRol</servlet-name>
        <url-pattern>/ControladorRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsRol</servlet-name>
        <url-pattern>/ControladorUsRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCategoria</servlet-name>
        <url-pattern>/ControladorCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPlantilla</servlet-name>
        <url-pattern>/ControladorPlantilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/ControladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorGoogle</servlet-name>
        <url-pattern>/ControladorGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPlantillaCampo</servlet-name>
        <url-pattern>/ControladorPlantillaCampo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPlantillaPaso</servlet-name>
        <url-pattern>/ControladorPlantillaPaso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPlantillaRol</servlet-name>
        <url-pattern>/ControladorPlantillaRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPasoCampoComportamiento</servlet-name>
        <url-pattern>/ControladorPasoCampoComportamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCampoComportamiento</servlet-name>
        <url-pattern>/ControladorCampoComportamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCampoComportamientoup</servlet-name>
        <url-pattern>/ControladorCampoComportamientoup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProceso</servlet-name>
        <url-pattern>/ControladorProceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPlantilla2</servlet-name>
        <url-pattern>/ControladorPlantilla2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProcesoCampo</servlet-name>
        <url-pattern>/ControladorProcesoCampo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProcesoPaso</servlet-name>
        <url-pattern>/ControladorProcesoPaso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
